.chart_container {
  padding: 10px;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.chart_title {
  text-align: center;
  font-weight: 600;
}
.chart {
  background-color: red;
  height: 100%;
}
.chart_wrapper {
  height: 100%;
}
