.table_container {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  height: 100%;
}
.period_selector_container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.select_container {
  width: 100px;
  display: flex;
  justify-content: end;
}
