@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body {
  background-color: white;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
  outline: none;
  background: transparent;
  border: none;
  font-size: inherit;
}
a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
